Repository tricinel/highlight-words: changes, and which lefthook commands are due for each by the changed paths.
All: check, types

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    check:
      glob: "*.{js,ts,json}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    types:
      glob: "*.ts"
      run: npx tsc-files --noEmit

pre-push:
  commands:
    test:
      run: npm run test:unit

Replace biome and esbuild
  .oxfmtrc.json
  .oxlintrc.json
  Changelog.md
  Readme.md
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  tsconfig.base.json
  vite.config.ts
Due: check, types

Move tests into own dir
  .gitignore
  __tests__/src/clip.test.ts
  __tests__/src/index.test.ts
  __tests__/src/regexp.test.ts
  lefthook.yml
  package.json
  vite.config.ts
  vitest.config.mts
  vitest.dist.config.mts
Due: check, types

Update requirement to node 22.17
  .nvmrc
Due: none

Update all deps
  package.json
  pnpm-lock.yaml
Due: check

Replace CircleCI with simple GitHub actions
  .circleci/config.yml
  .github/ci.yml
  Readme.md
Due: none

Add dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

Remove inputs
  .github/workflows/ci.yml
Due: none

Update pnpm lock
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

Fix vitest default excludes
  vitest.dist.config.mts
Due: none

Bump setup-node to v6
  .github/workflows/ci.yml
Due: none

Cleanup for vite
  package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.mts
Due: check, types

Add back dist tests
  .gitignore
  __tests__/dist/highlight-words.esm.test.ts
Due: check, types

Update actions
  .github/workflows/ci.yml
Due: none

Update deps
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: check

Switch Node version file to .node-version
  .node-version
Due: none

Add pnpm workspace and npm config
  .npmrc
  pnpm-workspace.yaml
Due: none

I can't spell apparently
  pnpm-workspace.yaml
Due: none
